body {
    background-color: rgb(255,0,0);
    background-image: url(recursos/guirnalda.jpg);
    background-size: 670 150;
    background-position: center;
    width: 660px;
    margin: auto;
}

.banner {
    width: 670px;
    height: 150px;
    padding-left: -30px;
}
h2 a {
    color: red;
    text-decoration: none;
}
h2 {
    color:red;
    font-family: Calibri;
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid orange;
}
a:hover {
    text-decoration: none;
    color: orange;
}
p {
    color: red;
    font-family: Verdana;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
iframe {
    width: 450px;
    height: 250px;
}
#iframe {
    text-align: center;
}
#mandela {
    background-color: red;
    color: white;
    border: 2px dashed white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}


table{
    font-family: Calibri;
    font-size: 22px;
    color:white;
    margin-top: 15px;
    background-color:red;
    width: 100%;
    text-align: center;
    height: 30px;
    border: 1px solid white;
}

table th{
    width: 33%;
}
/*#footer {
    background-position: center left;
    padding-top: 10px;
    display: inline-block;
}*/
.footer{
    text-align: center;
    font-weight: bold;
}
#footer_image {
    display: inline-block;
    height: 20px;
}
th a {
    text-decoration: none;
    color:white;
    width: 100%;
    height: 100%;
}
th a:hover{
    color:red;
    background-color: white;
}