body {
    background-color: #696969;
}

div.total {
   background-color: #FFF;
   align-content: center;
   width: 880px;
   margin: auto;
   margin-top: none;
   margin-bottom: none;
}

div.banner {
    background-color:lime;
    padding-top: 15px;
    /*color: rgb(155, 0, 0);*/
}

div.contenido {
    text-align: justify;
    background-color: orange;
    color: rgb(97, 97, 97);
    width: 750px;
    margin: auto;

}

div h1{
    font-family: Calibri;
    font-size: 32px;
    color: rgb(197, 0, 0);
    text-align: center;
}

div h2 {
    font-family: Calibri;
    font-size: 24px;
    color: rgb(183, 0, 255);
}

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: gray;
    text-align: inherit;
}