body {
    background-color: rgb(18, 100, 156);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    color: rgb(18, 100, 156);
}

table {
    margin-top: 15px;
    background-color:rgb(18, 100, 156);
    width: 100%;
    text-align: center;
    height: 30px;
    border: 1px solid white;
}

table th{
    width: 33%;
}

a {
    text-decoration: none;
    color: white;
}
#contenido {
    margin:auto;
    width: 960px;
    background-color: white;
    text-align: justify;
    border: 5px solid #072178;
    padding: 15px;
}

#footer {
    height: 30px;
    padding-top: 10px;
    padding-left: 50px;
    border-top: 2px solid #666;
    color: #666;
    text-align: center;
}

#fourth_gen {
    padding-bottom: 20px;
    margin-right: 10px;
}


}
#footer_image{
    display: inline-block;
}

.familia_icore {
    width: 250px;
}

#familia_icore {
    display: inline-block;
}

.ix_processors {
    text-align: center;
    padding-top: 10px;
}

