/*Probando el posicionamiento relativo*/
#fondo {
    width: 1100px;
    height: 1200px;
    background-color: #696969;
    margin: auto;
}

img {
    width: 300px;
    height: 225px;
    border: 3px solid red;
    background-color: lightblue;
    margin: 10px;
}
/*#foto1 {
    position: relative;
    padding-top: 20px;
    padding-left: 30px;
}

#foto2 {
    position: inherit;
    padding-top: 40px;
    padding-left: -20px;
}

#foto3 {
    position: relative;
    left: 490px;
}*/

/*Probando el posicionamiento absoluto*/
/*#foto1 {
    position: absolute;
    padding-top: 20px;
    padding-left: 30px;
}*/

.foto1 {
    position: relative;
    padding-top: 20px;
    padding-left: 30px;
}
 /*Posicionamiento fijo*/
#foto2 {
    position: fixed;
    width: 350px;
    height: 250px; 
}